<h1> <%= @note.lecture_name %> Notes</h1>


Things to keep in mind: <%= @note.highlights %>
<hr>

<h3><%= @note.student.name %>'s Notes<br></h3>
<% Note.all.each do |note| %>
  <%= note.content %>
<% end %>
<hr>
<em>Created: <%= @note.created_at %><br></em>
