<h1><%= @student.name %></h1>
<p>Mod Name: <%= @student.mod_name %><br>
  Mod Start Date: <%= @student.mod_start_date %><br>
  GitHub: <%= @student.github_link %><br>
  Linked In: <%= @student.linkedin_link %>
  <h2>Notes:</h2>
  <ul>
    
    <% @student.notes.where.not(content:nil).each do |note|  %>
    <li><%= link_to note.lecture_name, note_path(note) %></li>
    <% end %>

  </ul>
</p>
