<h1><%= @instructor.name %></h1>
<ul>
  <% @instructor.mods.each do |mod| %>
  <li><%= link_to mod.mod_number, mod_path(mod) %></li>
  <% end %>

</ul>
<%= button_to "Edit Instructor", edit_instructor_path , method: :get %><br>
<br>
<%= link_to "Go to Mods", mods_path %>
<%= link_to "Go to Notes", notes_path %>
<%= link_to "Go to Students", students_path %>
<%= link_to "Go to Resource", resources_path %>
