<h1>Resources</h1>
<ul>
<% @resources.each do |resource| %>
<li><%= link_to "Link", resource.links %> <%= link_to "⭐️", edit_resource_url(resource) %></li>


<% end %>
</ul>



<%= button_to "Create New Resource", new_resource_path, method: :get %><br>


<br>
<div class="page-links">
  <%= link_to "Go to Mods", mods_path %>
  <%= link_to "Go to Instructors", instructors_path %>
  <%= link_to "Go to Students", students_path %>
  <%= link_to "Go to Notes", notes_path %>

  </div>
